<%= form_with(model: @lyric, local: true) do |f| %>
  <% if @lyric.errors.any? %>
    <div id="error_explanation">
      <h2><%= @lyric.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @lyric.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lyric_phrase">
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>
  </div>
  <div class="lyric_detail">
    <%= f.label :detail %>
    <%= f.text_field :detail %>
  </div>
  <div class="song_title">
  <%= f.fields_for :song do |s| %>
    <%= s.label :title, "曲名" %>
    <%= s.text_field :title %>
  <% end %>
  </div>
  <div class="artist_name">
    <%= f.fields_for :artist do |a| %>
      <%= a.label :name, "アーティスト名" %>
      <%= a.text_field :name %>
    <% end %>
  </div>
  <div class="feeling_type">
    <% Feeling.all.each do |feeling| %>
      <%= f.check_box :feeling_ids, { multiple: true, checked: @lyric.feeling_ids.include?(feeling.id), disabled: feeling[:disabled], include_hidden: false }, feeling[:id] %>
      <%= f.label :feeling_ids, feeling.sort, value: feeling[:id] %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to "投稿一覧にもどる", root_path %>