<%= form_with(model: @lyric, local: true) do |f| %>
  <% if @lyric.errors.any? %>
    <div id="error_explanation">
      <h2><%= @lyric.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @lyric.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lyric_phrase">
    <%= f.label :phrase %>
    <%= f.text_field :phrase %>
  </div>
  <div class="lyric_detail">
    <%= f.label :detail %>
    <%= f.text_field :detail %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to "投稿一覧にもどる", root_path %>