<%= search_form_for @q, method: :get do |f| %>
  <%= f.search_field :phrase_cont, placeholder: '歌詞' %>
  <%= f.search_field :song_title_cont, placeholder: '曲名' %>
  <%= f.search_field :artist_name_cont, placeholder: 'アーティスト名' %>
  <%= f.submit '検索' %>
<% end %>

<table>
  <tr>
    <th>歌詞</th>
    <th>詳細</th>
    <th>曲名</th>
    <th>アーティスト名</th>
  </tr>

<% @lyrics.each do |lyric| %>
  <tr>
    <td><%= lyric.phrase %></td>
    <td><%= lyric.detail %></td>
    <td><%= lyric.song.title %></td>
    <td><%= lyric.artist.name %></td>
    <td><%= link_to '詳細', lyric_path(lyric.id) %></td>
  </tr>
<% end %>
</table>

<%= link_to "新規投稿", new_lyric_path %>
