
<div class="container mx-auto py-8">
  <h2 class="text-2xl mb-4 text-gray-600">月間閲覧数ランキング</h2>
  <div class="grid grid-cols-1 justify-center gap-4">
    <% n = 1 %>
    <% @rank_lyrics.each do |t| %>
      <div class="w-full max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-4 p-4">
        <div class="flex items-center justify-start mb-4 w-full">
          <p><%= "第#{n}位"%></p>
          <%= link_to user_path(t.user.id), class: "inline-flex items-center ml-2" do %>
            <% if t.user.user_profile.icon && t.user.user_profile.icon.url %>
              <%= image_tag(t.user.user_profile.icon.url, class: 'rounded-circle', size: '25x25') %>
            <% else %>
              <%= image_tag('default.png', class: 'rounded-circle', size: '25x25') %>
            <% end %>
            <p class="ml-2"><%= t.user.user_profile.name %></p>
          <% end %>
        </div>
        <p class="px-3 py-2 bg-gray-100 rounded-full text-base text-gray-600"><%= "#{t.phrase}" %></p>
        <p class="ml-2 mr-2 mt-4 text-gray-600"><%= "#{truncate(t.detail, length: 10)}" %></p>
        <p class="ml-2 mr-2 mt-2 text-gray-600"><%= "#{t.song.title}  /  #{t.artist.name}" %></p>
        <p class="mt-4 text-gray-600">
          <%= "#{t.impressions_count} Views" %>
          <%= link_to "Comments(#{@lyric_comments_count[t.id] || 0})", lyric_path(t.id) %>
        </p>
        <br>
        <% track = @tracks.find { |t_for_track| t_for_track[:lyric] == t } %>
        <div class="flex items-center justify-center mb-4">
        <% if track && track[:url] %>
          <audio id='player_<%= n %>' src='<%= track[:url] %>' controls class="mr-4"></audio>
          <p class="ml-2"><%= link_to 'Play Full', track[:track].external_urls['spotify'], target: '_blank' %></p>
          <script>
            document.getElementById('player_<%= n %>').volume = 0.1;
          </script>
        <% else %>
          <p>No preview available</p>
        <% end %>
      </div>
      </div>
      <% n += 1 %>
    <% end %>
    <br>
  </div>
</div>