<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.fields_for :user_profile, resource.build_user_profile || UserProfile.new do |info| %>
      <%= info.label :name %><br />
      <%= info.text_field :name, autocomplete: "username" %><br />
      
      <%= info.label :introduction %><br />
      <%= info.text_field :introduction %><br />

      <%= info.label :icon %><br />
      <%= info.file_field :icon %><br />
      <%= info.hidden_field :image_cache %> 
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
