
<%= form_with(model: [lyric, comment], local: false, data: { turbolinks: false } ) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field", id="this_comment_#{@comment.id}">
    <%= form.text_area :content, id: "comment_content_#{lyric.id}", class: "border rounded w-full py-2 px-3"  %>
  </div>
  <button class="custom-button" type="submit">
    <%= form.submit %>
  </button>
<% end %>



