<%= form_with(model: [lyric, comment], local: false) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-600 px-4 py-3 mb-4 rounded-lg">
      <h2><%= pluralize(comment.errors.count) %> 件のエラーがあります。</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.text_area :content, class: "w-full md:w-1/4 p-4 rounded-lg focus:bg-white focus:outline-none resize-none" %>
  </div>

  <button class="custom-button" type="submit">
    <%= form.submit t('view.lyric.comment') %>
  </button>
<% end %>