<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
        <p><%= comment.content %></p>
        <p>
          <%= link_to user_path(comment.lyric.user.id) do %>
            <% if comment.lyric.user.user_profile.icon && comment.lyric.user.user_profile.icon.url %>
              <%= image_tag(comment.lyric.user.user_profile.icon.url, class: "rounded-circle", size: "30x30")%>
            <% else %>
              <%= image_tag("default.png", class: "rounded-circle", size: "50x50") %>
            <% end %>
            <%= comment.lyric.user.user_profile.name %>
          <% end %>
          <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
          <%= link_to "編集", edit_lyric_comment_path(lyric, comment), remote: true %>
          <%= link_to "削除", lyric_comment_path(comment.lyric_id, comment.id), method: :delete, remote: true,
                                        data: { confirm: "本当に削除しますか?"} %>
        </p>
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
    <% end %>
  <% end %>
</ul>