<div id="follow_form_<%= user.id %>">
  <% unless current_user.following?(user) %>
    <%= form_with(model: current_user.active_relationships.build(followed_id: user.id), local: false) do |f| %>
      <%= f.hidden_field :followed_id %>
      <button class="custom-button mt-4">
        <%= f.submit t('view.user.follow') %>
      </button>  
    <% end %>
  <% else %>
    <%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id), method: :delete, local: false) do |f| %>
      <button class="custom-button mt-4">
        <%= f.submit t('view.user.unfollow') %>
      </button>
    <% end %>
  <% end %>
</div>