<div class="container mx-auto py-8">
  <h1 class="text-2xl font-bold mb-4">お気に入り一覧</h1>
  <% if @favorites.any? %>
    <% @favorites.each do |favorite| %>
      <div class="w-full max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-4 p-4">
        <div class="flex items-center justify-start mb-4 w-full">
          <%= link_to user_path(favorite.lyric.user.id), class: "inline-flex items-center ml-2" do %>
            <% if favorite.lyric.user.user_profile&.icon&.url %>
              <%= image_tag(favorite.lyric.user.user_profile.icon.url, class: "rounded-circle", size: "25x25") %>
            <% else %>
              <%= image_tag("default.png", class: "rounded-circle", size: "25x25") %>
            <% end %>
            <p class="ml-2"><%= favorite.lyric.user.user_profile.name %></p>
          <% end %>
          <span class="ml-2 text-xs text-gray-500"><%= favorite.lyric.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
        </div>
        <p class="px-3 py-2 bg-gray-100 rounded-full text-base text-gray-600"><%= favorite.lyric.phrase %></p>
        <p><%= favorite.lyric.detail %></p>
        <p><%= favorite.lyric.song.title %> / <%= favorite.lyric.artist.name %></p>
        <p>
          <% favorite.lyric.feelings.each do |feeling| %>
            <span class="px-2 py-1 bg-yellow-100 rounded-full text-sm text-gray-500">
              <%= feeling.sort %>
            </span>
          <% end %>
        </p>
        <p><%= link_to '詳細', lyric_path(favorite.lyric.id) %></p>
      </div>
      <br>
    <% end %>
  <% else %>
    <p class="text-gray-500 mt-4 text-center">お気に入りした投稿はありません。</p>
  <% end %>
</div>