<!DOCTYPE html>
<html>
  <head>
    <title>FavLyri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-star@0.0.4/dist/VueStar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-j+OR9t2K0/KVYIzT/RK6mTrJUvK3U7qdeD6NJD5a7mcp8QqZu96R0RNay6P4l3IA0yjOEnjVkSG1AjjIfPtKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to user_path(current_user.id) do %>
          <% if current_user.user_profile.icon && current_user.user_profile.icon.url %>
            <object><%= image_tag(current_user.user_profile.icon.url, class: "rounded-circle", size: "25x25") %></object>
          <% else %>
            <object><%= image_tag("default.png", class: "rounded-circle", size: "25x25") %></object> 
          <% end %>
        <% end %>
        <%= link_to notifications_path do %>
          <% if @unchecked_notifications.any? %>
            <%= 'new通知' %>
          <% else %>
            <%= '通知' %>
          <% end %>
        <% end %>
        <%= link_to "投稿一覧", root_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
